@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');


body{
    background-color: rgb(248, 245, 239);
}
.material-icons{
    font-size: 50px;
}
nav{
    display: flex;

    font-family: 'Fredoka', sans-serif;
}
a{
    text-decoration: none;
    font-weight: bold;
    color:black
}
h1{
    display: inline-flex;
    font-family: 'Palette Mosaic', cursive;
    
    margin-top: 2px;
    font-size: 50px;
}
#utility-menu{
    
    display: grid;
    
    font-family: 'Fredoka', sans-serif;
    position: relative;
    flex-direction: column;
    margin-top: 20px;
    row-gap: 25px;
}

#menu{
    color: red;
}
#side-menu{
    display: flex;
}
aside{
    height: 100vh;
    background-color:antiquewhite;
    width: fit-content;
}
aside .utilityM a{
    margin-right: 10px;
    display: flex;
    width: fit-content;
    align-items: center;
    margin-left: 10px;
    height: 2.3rem;
    position: relative;
    gap: 0.5rem;
}
aside h3{
    display: flex;

}
#logo-icon{
    color: black;
}
#top-logo{
    display: flex;
}
#grid-menu{
    display: grid;
    grid-column-gap: 160px;
    grid-row-gap: 90px;
    grid-template-columns: 4fr 4fr 4fr;
    margin-left: 100px;
    margin-top: 50px;
    grid-template-rows: 4fr 4fr;
    padding-bottom: 20px;
}
.item{
    width: fit-content;
    height: fit-content;
    border: 5px 3px 2px 1px black;
}
#grid-menu a{
    box-shadow: 1px 2px 10px rgb(0 0 0 / 20%);
    font-family: 'Fredoka', sans-serif;
}
.item .text{
    position: relative;
    left: 33px;
}
@media screen and (max-width: 400px){
    aside{
        display: none;
    }
    #grid-menu{
        grid-template-columns: 4fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
}

footer{
    background-color: gainsboro;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
#footer-text{
    font-size: 20px;
    font-weight: bold;
}
