@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
body{
    color: rgb(248, 224, 187);
    font-family: 'Fredoka', sans-serif;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-left: 100px;
    font-size: 20px;
}
.nav-bar #text{
    display: flex;
    align-items: center;
    font-size: 25px;
}
a{
    text-decoration: none;
    color: rgb(77, 67, 67);
    
}
a:active{
    color: aqua;
}
:text{
    color: blueviolet;
}
#hex-text{
    color:black;
    font-size: 30px;
}
#red-text{
    color: red;
    font-size: 30px;
}
#green-text{
    color: green;
    font-size: 30px;
}
#blue-text{
    color: rgb(48, 158, 202);
    font-size: 30px;
}

#in-out-menu{
    position: relative;
    top: 40px;
    
}
#hex-in{
    display: flex;
    width: fit-content;
    padding: 30px;
    /* margin: 20px; */
    font-size: 20px;
    align-items: center;
    top: 10px;
    position: relative;
    left: 530px;
    right: 400px;
}
#rgb-out{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    height: fit-content;
    width: max-content;
    padding-left: 350px;
}
#rgb-red{
    border : 4px solid red;
    height: 30px;

}
#rgb-green{
    border : 4px solid green;
    height: 30px;
}
#hex{
    height: 50px;
}
#rgb-blue{
    border : 4px solid rgb(48, 158, 202);
    height: 30px;
}
#sbmt{
    display: flex;
    position: relative;
    justify-content: space-around;
    top: 30px;
    left: 80px;
}
#sbmt-btn{
    position: relative;
    right: 90px;
    top: 40px;
    color: white;
    background-color: green;
    border: none;
}